@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Caveat:wght@700&family=Dancing+Script&family=Roboto:wght@300;400;500;700;900&family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto:wght@300;400;500;700;900&display=swap');
@import "./Variable.scss";
.About{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner {
  width: 80px;
  height: 80px;
  --clr: rgb(127, 207, 255);
  --clr-alpha: rgb(127, 207, 255, .1);
  animation: spinner 2s infinite linear;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-40px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(40px);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }

  100% {
    transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
  }
}
h3.title-loading{
  @extend %loading;
}


  .About-body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .About-body_box{
    max-width: 100%;
    width: 1000px;
    height: 450px;
    margin: 0px 20px;
    padding: 20px;
    overflow-y: scroll;
    border-top: solid red 3px;
    border-right: #ff0 3px solid;
    border-bottom: 3px solid blue;
    border-left: 3px solid green;
    border-radius: 30px;
    animation: border 4s ease-in-out infinite;
    box-shadow: 60px -16px rgb(0, 0, 0);
    position: relative;
  }
  @keyframes border {
    25%{
      border-top: 3px solid green;
      border-right: solid red 3px;
      border-bottom: #ff0 3px solid;
      border-left: 3px solid blue;
    }
    50%{
      border-top: 3px solid blue;
      border-right: 3px solid green;
      border-bottom: solid red 3px;
      border-left: #ff0 3px solid;
    }
    75%{
      border-top: #ff0 3px solid;
      border-right: 3px solid blue;
      border-bottom: 3px solid green;
      border-left: solid red 3px;
    }
  }
  .About-body_box::-webkit-scrollbar{
    display: none;
  }
  .About-body_box img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

  }
  .About-body_box a{
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: white;
    outline: none;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    display: none;
  }
  .About-body ul{
    @extend %ulBtn;
  }
  .About-body ul li{
    @extend %liBtn;
  }
  .About-body ul li + li{
    @extend %liNextBtn;
  }
  .About-body ul li svg{
    @extend %iconBtn;
  }
  @media only screen and (max-width : 46.1875em){
    .About-body_box a{
      display: block;
      cursor: pointer;
    }
}
    