@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script&family=Roboto:wght@300;400;500;700;900&family=Titillium+Web:wght@200&display=swap');
* {
    cursor: url('https://i.pinimg.com/originals/65/7d/04/657d048e53bc315b7a73b7e85a5e46d4.png'), auto !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("https://i.pinimg.com/originals/80/7b/0d/807b0d00ea3aab1bdf89012248e9d97a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}