%ulBtn{
    padding-left: 0px;
    display: flex;
}
%liBtn{
    list-style: none;
}
%liNextBtn{
    margin-left: 30px;
}
%iconBtn{
    color: black;
    font-size: 30px;
    text-shadow: #FC0 0px 0px 30px;
}

%loading{
    margin: 10px 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgba(255, 255, 255, .1);
    background: linear-gradient(to right,
            rgb(245, 0, 0),
            rgb(255, 128, 0),
            rgb(255, 204, 0),
            rgb(111, 255, 0),
            rgb(2, 241, 253),
            rgb(10, 6, 239),
            rgb(173, 10, 227),
            rgb(0, 0, 0));
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: sTransition 10s linear infinite;
    font-size: 30px;
}

@mixin button($bgColor: red){
    margin-top: 10px;
    width: 100px;
    border: 1px solid black;
    padding: 5px;
    background-color: $bgColor;
    color: black;
    font-weight: bold;
    cursor: pointer;
}